@media screen and (min-width: 800px) and (max-width: 1000px) {
    /* general stylws */

    body {
        width: 100%;
        overflow-x: hidden;
    }

    .container {
        width: 760px;
    }

    /* styles for header */
    .menu {
        width: 500px;
    }

    .header-title {
        font-size: 120px;
    }

    /*general styles for main*/

    .text-description-title-sections {
        font-size: 15px;
        width: 100%;
    }

    /* styles for section about us */
    .items-about-us {
        width: 100%;
        margin-top: 103px;
    }

    .item-about {
        height: 210px;
    }

    .items-about-us img{
        width: 240px;
        height: 210px;
    }

    .item-about-hover {
        width: 280px;
        height: 210px;
    }

    .item-about-hover div img{
        width: 30px;
        height: 20px;
    }

    /* styles for section work-with*/

    .work-with-services::after {
        content: "";
        position: absolute;
        background: #e5e5e5;
        height: 2px;
        width: 100%;
        top: 365px;
    }

    .work-with-services-items {
        margin-left: 35px;
    }

    /* styles for design section*/

    .ipad-img {
        margin-left: 20%;
    }

    .iphone-img {
        right: 50px;
    }

    /* styles for section services*/
    .img-services-items img {
        width: 436px;
        height: 378px;
    }

    /* styles for footer */

    .footer {
        display: block;
        padding-bottom: 40px;
    }

    .footer-content {
        width: 100%;
    }

    .footer-content::before {
        top: 235px;
    }

    .footer-content-text {
        font-size: 15px;
    }

    .footer-content-followers {
        font-size: 15px;
    }

    .footer-content-followers span {
        font-size: 18px;
    }

    .follow-us {
        font-size: 15px;
        margin-right: 23px;
    }

    .footer-content-icons-img {
        margin-right: 18px;
    }

    .form-email input {
        width: 300px;
    }

    .form-email button {
        width: 150px;
        font-size: 14px;
    }

    .footer-blogs {
        margin-top: 30px;
    }
    
    .footer-blogs-items-content {
        width: 100%;
        margin-left: 20px;
    }

    .footer-blogs-items-content-text {
        font-size: 15px;
    }

    .footer-instagram-photos {
        width: 450px;
    }

    .footer-instagram-photos div:last-child {
        display: none;
    }
}